.svg-common() {
	background: url("svg/sprite.css-929d500b.svg") no-repeat;
}

.svg-svg--arrow-button-green {
	.svg-common();
	background-position: 96.29629629629629% 59.36254980079681%;
}

.svg-svg--arrow-button-green-dims {
	width: 22px;
	height: 21px;
}

.svg-svg--arrow-min-down {
	.svg-common();
	background-position: 99.26470588235294% 22.65625%;
}

.svg-svg--arrow-min-down-dims {
	width: 20px;
	height: 16px;
}

.svg-svg--decentralized {
	.svg-common();
	background-position: 44.554455445544555% 48.421052631578945%;
}

.svg-svg--decentralized-dims {
	width: 90px;
	height: 82px;
}

.svg-svg--facebook {
	.svg-common();
	background-position: 28.625954198473284% 96.69421487603306%;
}

.svg-svg--facebook-dims {
	width: 30px;
	height: 30px;
}

.svg-svg--github {
	.svg-common();
	background-position: 68.3206106870229% 75.20661157024793%;
}

.svg-svg--github-dims {
	width: 30px;
	height: 30px;
}

.svg-svg--github-middle-white {
	.svg-common();
	background-position: 54.8% 79.1304347826087%;
}

.svg-svg--github-middle-white-dims {
	width: 42px;
	height: 42px;
}

.svg-svg--github-min-black {
	.svg-common();
	background-position: 49.24812030075188% 95.1219512195122%;
}

.svg-svg--github-min-black-dims {
	width: 26px;
	height: 26px;
}

.svg-svg--improve {
	.svg-common();
	background-position: 84.90566037735849% 48.421052631578945%;
}

.svg-svg--improve-dims {
	width: 80px;
	height: 82px;
}

.svg-svg--instagram {
	.svg-common();
	background-position: 79.77099236641222% 75.20661157024793%;
}

.svg-svg--instagram-dims {
	width: 30px;
	height: 30px;
}

.svg-svg--integrate-in-minutes {
	.svg-common();
	background-position: 0 50.54945054945055%;
}

.svg-svg--integrate-in-minutes-dims {
	width: 90px;
	height: 90px;
}

.svg-svg--linkedin {
	.svg-common();
	background-position: 91.22137404580153% 75.20661157024793%;
}

.svg-svg--linkedin-dims {
	width: 30px;
	height: 30px;
}

.svg-svg--logo {
	.svg-common();
	background-position: 0 0;
}

.svg-svg--logo-dims {
	width: 292px;
	height: 58px;
}

.svg-svg--medium {
	.svg-common();
	background-position: 81.6793893129771% 23.577235772357724%;
}

.svg-svg--medium-dims {
	width: 30px;
	height: 26px;
}

.svg-svg--open {
	.svg-common();
	background-position: 91.72932330827068% 23.015873015873016%;
}

.svg-svg--open-dims {
	width: 26px;
	height: 20px;
}

.svg-svg--poweredByMEW {
	.svg-common();
	background-position: 0 24.369747899159663%;
}

.svg-svg--poweredByMEW-dims {
	width: 177px;
	height: 34px;
}

.svg-svg--reddit {
	.svg-common();
	background-position: 100% 49.382716049382715%;
}

.svg-svg--reddit-dims {
	width: 32px;
	height: 29px;
}

.svg-svg--secure {
	.svg-common();
	background-position: 0 100%;
}

.svg-svg--secure-dims {
	width: 75px;
	height: 90px;
}

.svg-svg--switch {
	.svg-common();
	background-position: 32.608695652173914% 82.72727272727273%;
}

.svg-svg--switch-dims {
	width: 62px;
	height: 52px;
}

.svg-svg--tools {
	.svg-common();
	background-position: 39.473684210526315% 95.1219512195122%;
}

.svg-svg--tools-dims {
	width: 26px;
	height: 26px;
}

.svg-svg--twitter {
	.svg-common();
	background-position: 100% 37.704918032786885%;
}

.svg-svg--twitter-dims {
	width: 32px;
	height: 28px;
}

.svg-svg--vk {
	.svg-common();
	background-position: 69.41176470588235% 23.577235772357724%;
}

.svg-svg--vk-dims {
	width: 37px;
	height: 26px;
}

