@import '~@/assets/scss/global-var';

.about-mew-connect {
  margin-bottom: -75px;
}

.wrap {
  background-color: $background-white;
  color: $text-black;
  position: relative;
  text-align: center;
} // .wrap

.rotate-patent {
  overflow: hidden;
  padding: 146px 0 158px;
  position: relative;
  top: -73px;
  transform: skewY(4deg);

  .rotate-child {
    transform: skewY(-4deg);
  }

  .left-image {
    left: 0;
    position: absolute;
    top: -270px;
    width: 292px;
  }

  .right-image {
    bottom: -161px;
    position: absolute;
    right: 0;
    width: 250px;
  }
}



.block-article {
  margin: 0 auto;
  max-width: 800px;
}
