@import '~@/assets/scss/global-var';

.wrap {
  background-color: $background-white;
  color: $text-black;
  position: relative;
  text-align: center;
} // .wrap

.rotate-patent {
  padding: 100px 0 200px;
  transform: skewY(4deg);

  .rotate-child {
    transform: skewY(-4deg);
  }
}



.block-article {
  margin: 0 auto;
  max-width: 800px;
}
