.protect {
  height: 700px;
  background: #5A78F0;

  @media all and (max-width: $screen-ipad) {
    height: 600px;
  }

  @media all and (max-width: $screen-iphone) {
    height: 550px;
  }

  .row, .container {
    height: 100%;
  }
}

