@import '~@/assets/scss/global-iconset.scss';

.title {
  margin-top: 40px;

  @media all and (max-width: $screen-iphone) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    line-height: 52px;
    font-size: 48px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 0;
    margin-bottom: 20px;
    width: 700px;
    font-family: $Avenir;

    @media all and (max-width: $screen-mobile) {
      width: 100%;
    }

    @media all and (max-width: $screen-iphone) {
      line-height: 32px;
      font-size: 30px;
      letter-spacing: 0.01em;
    }
  }

  p {
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #313131;
    width: 460px;
    margin: 0;
    font-family: $OpenSans;

    @media all and (max-width: $screen-iphone) {
      line-height: 28px;
      font-size: 16px;
      letter-spacing: -0.02em;
      width: 100%;
    }
  }
}

.app {
  margin-top: 84px;
  position: relative;

  @media all and (max-width: $screen-iphone) {
    margin-top: 0;
  }

  img, video {
    max-width: calc(100% + 42px);
    margin-top: -84px;
    margin-bottom: 40px;
    margin-left: -21px;

    @media all and (max-width: $screen-mobile) {
      margin-top: 0;
      margin-left: -6px;
      max-width: calc(100% + 12px);
    }
  }

  &__download {
    margin-bottom: 36px;
    position: relative;

    @media all and (max-width: $screen-iphone) {
      margin-bottom: 30px;
    }

    &-coming {
      font-family: $Avenir;
      font-size: 42px;
      line-height: 46px;
      margin-bottom: 20px;
    }

    &-title {
      font-style: normal;
      font-weight: bold;
      line-height: 25px;
      font-size: 18px;
      text-align: center;
      letter-spacing: -0.02em;
      position: absolute;
      top: -45px;
      width: 100%;
      color: #7A7E7E;
      font-family: $OpenSans;
    }

    &-buttons {
      text-align: center;
      margin-bottom: 20px;

      a {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;

        &:first-child { margin-left: 0 }
        &:last-child { margin-right: 0 }
      }

      .add-store {
        // @extend %svg-svg--app-store-m;
        // @extend %svg-svg--app-store-m-dims;

        img {
          margin: 0 !important;  
        }

        @media all and (max-width: $screen-iphone) {
          // @extend %svg-svg--App_Store_Badge;
          // @extend %svg-svg--App_Store_Badge-dims;
        }
      }

      .google-play {
        @extend %svg-svg--google-play-m;
        @extend %svg-svg--google-play-m-dims;

        @media all and (max-width: $screen-iphone) {
          // @extend %svg-svg--google-play-badge-2;
          // @extend %svg-svg--google-play-badge-2-dims;
        }
      }
    }

    &-desc {
      width: 666px;
      font-style: normal;
      font-weight: normal;
      line-height: 28px;
      font-size: 16px;
      text-align: center;
      letter-spacing: -0.02em;
      margin: 0 auto;
      font-family: $OpenSans;

      @media all and (max-width: $screen-mobile) {
        width: 600px;
      }

      @media all and (max-width: $screen-iphone) {
        line-height: 25px;
        font-size: 14px;
        width: 100%;
      }

      a {
        color: #064DD6;
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        font-size: 16px;
        text-align: center;
        letter-spacing: -0.02em;
        font-family: $OpenSans;

        @media all and (max-width: $screen-iphone) {
          line-height: 25px;
          font-size: 14px;
        }

        &:hover { text-decoration: none }
      }
    }
  }

  &__play {
    background-image: url('data:image/svg+xml;utf8,<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="28" cy="28" r="28" fill="%23E1E2E1"/><path d="M0 1.72853C0 0.959511 0.831806 0.478288 1.49847 0.861621L18.4923 10.6331C19.161 11.0176 19.161 11.9824 18.4923 12.3669L1.49847 22.1384C0.831807 22.5217 0 22.0405 0 21.2715V1.72853Z" transform="translate(21 17)" fill="%23687270" style="mix-blend-mode:luminosity"/></svg>');
    position: absolute;
    width: 56px;
    height: 56px;
    left: 50%;
    top: 50%;
    margin-left: -28px;
    margin-top: -40px;
    display: none;

    @media all and (max-width: $screen-ipad) {
      display: block;
    }
  }

  &__video {
    position: relative;
  }
}
