@import '~@/assets/scss/global-variables.scss';
@import '~@/assets/scss/global-bootstrap.scss';
@import '~@/assets/scss/global-fonts.scss';
@import '~@/assets/scss/global-iconset.scss';

html {
  height: 100%;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: $OpenSans;
  background-color: #FFFFFF;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  position: relative;
}

.wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
  z-index: 1;
  margin: 0 auto;
  min-width: 320px;

  &.open {
    &:before {
      content: "";

      @media all and (max-width: $screen-iphone) {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
      }
    }
  }
}

.text-block {
  font-size: 0;
  text-align: center;

  h2 {
    width: 620px;
    line-height: 46px;
    font-size: 42px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: $Avenir;

    @media all and (max-width: $screen-mobile) {
      width: 600px;
    }

    @media all and (max-width: $screen-iphone) {
      width: 100%;
      line-height: 27px;
      font-size: 24px;
    }
  }

  p {
    width: 780px;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 0 auto;
    font-family: $OpenSans;

    @media all and (max-width: $screen-ipad-m) {
      width: 700px;
    }

    @media all and (max-width: $screen-mobile) {
      width: 600px;
    }

    @media all and (max-width: $screen-iphone) {
      width: 100%;
      line-height: 32px;
      font-size: 16px;
    }

    a {
      font-style: normal;
      font-weight: normal;
      line-height: 32px;
      font-size: 18px;
      letter-spacing: -0.02em;
      font-family: $OpenSans;
      color: inherit;

      @media all and (max-width: $screen-iphone) {
        line-height: 32px;
        font-size: 16px;
      }

      &:hover { text-decoration: none }
    }
  }

  h2 {
    color: #FFFFFE;
  }

  p {
    color: #FFFFFE;
  }

  &--secure {
    h2 {
      color: #06C0A5;
    }

    p {
      color: #313131;
    }
  }

  &__icon {
    margin: 0 auto;
    margin-bottom: 20px;

    &--hardware {
      @extend %svg-svg--safe;
      @extend %svg-svg--safe-dims;
    }

    &--secure {
      @extend %svg-svg--secure;
      @extend %svg-svg--secure-dims;
    }

    &--protect {
      @extend %svg-svg--protect;
      @extend %svg-svg--protect-dims;
    }
  }
}