
//============================================================
// BODY
//============================================================
$body--text--color: #313131;




//============================================================
// HEADER
//============================================================
$header--border-bottom--color: #efefef;




//============================================================
// HEADER
//============================================================
$footer--background--color: #0C2840;