


//============================================================
// MOBILE RESPONSIVE
//============================================================
$mobile-width: 800px;
$mobile-block-padding: 80px 0;


//============================================================
// BODY
//============================================================
$body--text--color: #313131;




//============================================================
// HEADER
//============================================================
$header--border-bottom--color: #efefef;




//============================================================
// HEADER
//============================================================
$footer--background--color: #0C2840;




