
@import '~@/assets/scss/global-variables.scss';

.page-container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  line-height: 53px;
}

p {
  color: $body--text--color;
  font-size: 18px;
  font-weight: 400;
}

