%svg-common {
  background: url("~@/assets/images/sprite.svg") no-repeat;
}

%svg-svg--App_Store_Badge {
  @extend %svg-common;
  background-position: 58.18181818181818% 13.793103448275861%;
}

%svg-svg--App_Store_Badge-dims {
  width: 120px;
  height: 40px;
}

%svg-svg--app-store-m {
  @extend %svg-common;
  background-position: 0 30.742049469964666%;
}

%svg-svg--app-store-m-dims {
  width: 140px;
  height: 47px;
}

%svg-svg--arrow {
  @extend %svg-common;
  background-position: 48% 25.806451612903224%;
}

%svg-svg--arrow-dims {
  width: 20px;
  height: 20px;
}

%svg-svg--close {
  @extend %svg-common;
  background-position: 42.666666666666664% 25.806451612903224%;
}

%svg-svg--close-dims {
  width: 20px;
  height: 20px;
}

%svg-svg--comunity {
  @extend %svg-common;
  background-position: 0 58.26086956521739%;
}

%svg-svg--comunity-dims {
  width: 100px;
  height: 100px;
}

%svg-svg--facebook-logo {
  @extend %svg-common;
  background-position: 95.14824797843666% 56.209150326797385%;
}

%svg-svg--facebook-logo-dims {
  width: 24px;
  height: 24px;
}

%svg-svg--github-logo {
  @extend %svg-common;
  background-position: 85.98382749326146% 64.05228758169935%;
}

%svg-svg--github-logo-dims {
  width: 24px;
  height: 24px;
}

%svg-svg--google-play-badge-2 {
  @extend %svg-common;
  background-position: 61.53846153846154% 0;
}

%svg-svg--google-play-badge-2-dims {
  width: 135px;
  height: 40px;
}

%svg-svg--google-play-m {
  @extend %svg-common;
  background-position: 0 14.134275618374557%;
}

%svg-svg--google-play-m-dims {
  width: 159px;
  height: 47px;
}

%svg-svg--instagram-logo {
  @extend %svg-common;
  background-position: 79.51482479784367% 64.05228758169935%;
}

%svg-svg--instagram-logo-dims {
  width: 24px;
  height: 24px;
}

%svg-svg--linkedin-logo {
  @extend %svg-common;
  background-position: 92.45283018867924% 64.05228758169935%;
}

%svg-svg--linkedin-logo-dims {
  width: 24px;
  height: 24px;
}

%svg-svg--logo-myetherwallet {
  @extend %svg-common;
  background-position: 0 0;
}

%svg-svg--logo-myetherwallet-dims {
  width: 160px;
  height: 40px;
}

%svg-svg--medium-logo {
  @extend %svg-common;
  background-position: 95.14824797843666% 40.52287581699346%;
}

%svg-svg--medium-logo-dims {
  width: 24px;
  height: 24px;
}

%svg-svg--menu {
  @extend %svg-common;
  background-position: 97.86666666666666% 63.225806451612904%;
}

%svg-svg--menu-dims {
  width: 20px;
  height: 20px;
}

%svg-svg--nodatacollection {
  @extend %svg-common;
  background-position: 33.898305084745765% 58.26086956521739%;
}

%svg-svg--nodatacollection-dims {
  width: 100px;
  height: 100px;
}

%svg-svg--p2p {
  @extend %svg-common;
  background-position: 100% 0;
}

%svg-svg--p2p-dims {
  width: 100px;
  height: 100px;
}

%svg-svg--protect {
  @extend %svg-common;
  background-position: 0 100%;
}

%svg-svg--protect-dims {
  width: 96px;
  height: 96px;
}

%svg-svg--reddit-logo {
  @extend %svg-common;
  background-position: 95.14824797843666% 48.36601307189542%;
}

%svg-svg--reddit-logo-dims {
  width: 24px;
  height: 24px;
}

%svg-svg--safe {
  @extend %svg-common;
  background-position: 87.53709198813057% 42.73504273504273%;
}

%svg-svg--safe-dims {
  width: 58px;
  height: 96px;
}

%svg-svg--secure {
  @extend %svg-common;
  background-position: 60.42296072507553% 54.91803278688525%;
}

%svg-svg--secure-dims {
  width: 64px;
  height: 86px;
}

%svg-svg--twitter-logo {
  @extend %svg-common;
  background-position: 95.14824797843666% 32.6797385620915%;
}

%svg-svg--twitter-logo-dims {
  width: 24px;
  height: 24px;
}
