$OpenSans: 'Open Sans', sans-serif;
$Avenir: 'Avenir Black', sans-serif;

$screen-mobile: 768px;
$screen-desktop: 1180px;
$screen-ipad: 1024px;
$screen-ipad-m: 980px;
$screen-iphone: 680px;
$screen-mini: 320px;

//============================================================
// MOBILE RESPONSIVE
//============================================================
$mobile-width: 800px;
$mobile-block-padding: 80px 0;


//============================================================
// BODY
//============================================================
$body--text--color: #313131;




//============================================================
// HEADER
//============================================================
$header--border-bottom--color: #efefef;




//============================================================
// HEADER
//============================================================
$footer--background--color: #0C2840;




