.protect {
  padding: 180px 0;
  color: #06C0A5;
  
  @media all and (max-width: $mobile-width) {
    padding: $mobile-block-padding;
  }
}

.protect__block-image {
  margin: 0 auto;
  background-image: url('~@/assets/images/sprite.svg');
  background-position: 88.75% 48.07692307692308%;
  width: 64px;
  height: 86px;
}


.protect__block-title {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  margin-top: 20px;
}

.protect__block-text {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  max-width: 800px;
  span {
    font-weight: 700;
  }
}

