  
.mewteam {
  padding: 470px 0 70px 0;
  background-image: url('~@/assets/images/team.jpg');
  background-size: cover;
  background-position: center;
}


.mewteam__block-title {
  color: white;
  max-width: 700px;
  margin-bottom: 35px;
}

.mewteam__block-text {
  color: white;
}

