.last {
  height: 700px;
  overflow: hidden;

  @media all and (max-width: $screen-ipad) {
    height: 600px;
  }

  @media all and (max-width: $screen-iphone) {
    height: 550px;
  }

  .row, .container {
    height: 100%;
  }

  &__phone {
    margin-bottom: -117px;
    position: relative;

    @media all and (max-width: $screen-mobile) {
      margin-bottom: -18px;
    }

    @media all and (max-width: $screen-iphone) {
      margin-top: 77px;
    }

    &:after {
      @media all and (max-width: $screen-iphone) {
        content: '';
        height: 251px;
        left: -20px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 60.16%);
        position: absolute;
        bottom: 131px;
        width: calc(100% + 40px);
      }
    }

    img {
      width: 360px;
      display: block;
      margin: 0 auto;

      @media all and (max-width: $screen-ipad) {
        width: 340px;
      }

      @media all and (max-width: $screen-mobile) {
        width: 304px;
      }

      @media all and (max-width: $screen-iphone) {
        width: 320px;
        margin: 0 auto;
      }

      @media all and (max-width: $screen-mini) {
        margin-left: -20px;
      }
    }
  }

  .app__download {
    margin-bottom: 90px;

    @media all and (max-width: $screen-mobile) {
      margin-bottom: 73px;
    }

    @media all and (max-width: $screen-iphone) {
      position: absolute;
      bottom: 152px;
      left: 15px;
      margin-bottom: 0;
      width: calc(100% - 30px);
    }
  }

  .app__download-buttons {
    text-align: left;

    @media all and (max-width: $screen-iphone) {
      text-align: center;
    }
  }

  .app__download-desc {
    width: 100%;
    text-align: left;
  }

  .app__download-coming {
    @media all and (max-width: $screen-iphone) {
      position: absolute;
      bottom: 470px;
      left: 0;
      font-size: 24px;
      line-height: 28px;
    }
  }
}