@import '~@/assets/scss/global-variables.scss';

.tutorial-videos {
  margin-top: 41px;
  margin-bottom: 104px;

  h2 {
    font-family: $Avenir;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 50px;
    margin-top: 0;

    @media all and (max-width: $screen-iphone) {
      line-height: 32px;
      font-size: 30px;
      letter-spacing: .01em;
    }
  }

  .container {
    padding: 0 122px;

    @media all and (max-width: $screen-ipad-m) {
      padding-right: 22px;
      padding-left: 22px;
    }

    @media all and (max-width: $screen-iphone) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__toggle {
    margin-bottom: 50px;

    a {
      font-family: $OpenSans;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-size: 16px;
      text-align: right;
      letter-spacing: -0.02em;
      color: #064DD6;
      margin-right: 30px;
      text-decoration: none;
      position: relative;

      &.active {
        &:after {
          content: '';
          width: 100%;
          height: 2px;
          left: 0;
          bottom: -2px;
          position: absolute;
          background: #064DD6;
        }
      }

      &:last-child { margin-right: 0 }
    }
  }
}