@import '~@/assets/scss/global-variables.scss';
@import '~@/assets/scss/global-iconset.scss';

.h-wrap {
  @media all and (max-width: $screen-iphone) {
    background-color: #ffffff;
    position: relative;
    z-index: 3;
  }
}

.header {
  padding: 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 3;

  @media all and (max-width: $screen-iphone) {
    padding: 20px 0;
    height: 80px;
  }

  &__menu {
    display: inline-block;
    vertical-align: middle;
    float: right;

    .router-link-exact-active {
      color: #313131;
      opacity: 0.5;
    }

    &-arrow {
      display: inline-block;
      margin-top: -3px;
      vertical-align: middle;
      @extend %svg-svg--arrow;
      @extend %svg-svg--arrow-dims;
    }

    @media all and (max-width: $screen-iphone) {
      display: none;
    }

    &.open {
      @media all and (max-width: $screen-iphone) {
        position: absolute;
        width: calc(100% + 40px);
        left: -20px;
        top: 79px;
        background-color: #ffffff;
        z-index: 3;
        padding-top: 20px;
        display: block;
      }
    }

    a {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      text-align: right;
      letter-spacing: -0.02em;
      color: #313131;
      margin-left: 30px;
      line-height: 60px;
      text-decoration: none;
      font-family: $OpenSans;

      &:hover { text-decoration: underline }

      @media all and (max-width: $screen-iphone) {
        display: block;
        text-align: left;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }

    &-open {
      display: none;
      vertical-align: middle;
      float: right;
      margin-top: 10px;
      @extend %svg-svg--menu;
      @extend %svg-svg--menu-dims;

      &.open {
        @extend %svg-svg--close;
        @extend %svg-svg--close-dims;
      }

      @media all and (max-width: $screen-iphone) {
        display: inline-block;
      }
    }
  }
}

.logo {
  width: 284px;
  height: 63px;
  display: inline-block;
  vertical-align: middle;

  img {
    max-width: 100%;
  }

  @media all and (max-width: $screen-iphone) {
    -moz-transform: scale(0.6666);
    -webkit-transform: scale(0.6666);
    -o-transform: scale(0.6666);
    transform: scale(0.6666);
    margin-left: -43px;
    margin-top: -10px;
  }
}