@import '~@/assets/scss/global-var';

.wrap {
  color: $text-black;
  margin-bottom: -80px;
  position: relative;
  text-align: center;
} // .wrap


.rotate-patent {
  background-color: $background-feature;
  padding: 100px 0 200px;
  transform: skewY(4deg);

  .rotate-child {
    transform: skewY(-4deg);
  }
}


.feature-content-container {
  display: grid;
  grid-gap: 90px;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 669px) {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 459px) {
    grid-gap: 40px;
    grid-template-columns: 1fr;
  }

  .feature-block {
    img {
      margin-bottom: 10px;
    }

    .feature-name {
      margin-bottom: 20px;
      min-height: 44px;
    }
  }
}
