@import '~@/assets/scss/global-var';

.wrap {
  background-color: $background-black;
  color: $text-footer;
  padding: 70px 0;
  position: relative;
} // .wrap

.footer-content-container {
  align-items: center;
  display: flex;

  .copyright {
    p {
      color: $text-footer;
      font-size: 16px;

      span {
        // text-decoration: underline;
        border-bottom: 1px solid $text-white;
        color: $text-white;
      }
    }
  }

  .social-block {
    margin-left: auto;

    i {
      color: $text-footer;
      font-size: 19px;
      margin-left: 15px;
    }
  }
}
