@import '~@/assets/scss/global-variables.scss';

.page-not-found {
  text-align: center;
  padding: 180px 0;

  h2 {
    font-family: $Avenir;
    font-size: 52px;
    line-height: 56px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  p {
    font-family: $OpenSans;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 22px;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .container {
    padding: 0 122px;

    @media all and (max-width: $screen-ipad-m) {
      padding-right: 22px;
      padding-left: 22px;
    }

    @media all and (max-width: $screen-iphone) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}