.decentralized {
  padding: 140px 0;
  color: #064DD6;
  
  @media all and (max-width: $mobile-width) {
    padding: $mobile-block-padding;
  }
}

.decentralized__block-title {
  @media all and (max-width: $mobile-width) {
    text-align: center;
  }
}


.grid-block {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;

  @media all and (max-width: $mobile-width) {
    display: block;
    text-align: center;
    >div {
      margin-bottom: 70px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  .item-title {
    margin-top: 25px;
    font-weight: 600;
    @media all and (max-width: $mobile-width) {
      margin-top: 10px;
    }
  }

  .item-text {

  }
}

.item-image {
  @media all and (max-width: $mobile-width) {
    margin: 0 auto;
  }
}

.item-image-1 {
  background-image: url('~@/assets/images/sprite.svg');
  background-position: 35.2112676056338% 100%;
  width: 100px;
  height: 100px;
}

.item-image-2 {
  background-image: url('~@/assets/images/sprite.svg');
  background-position: 0 100%;
  width: 100px;
  height: 100px;
}

.item-image-3 {
  background-image: url('~@/assets/images/sprite.svg');
  background-position: 100% 0;
  width: 100px;
  height: 100px;
}
